# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.vscode/
*.db
*.sqlite
*.log

# Node/React
node_modules/
dist/
build/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Docker
# **/Dockerfile
# **/docker-compose.yml
pg-data
mongo-data
pg-data-booking
pg-data-users
